body.no-scroll {
    overflow: hidden;
}
.geweb-aisearch-modal-window {
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    row-gap: 16px;
    font-family: sans-serif !important;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 16px;
    overflow: hidden;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1000;
}
.geweb-aisearch-modal-window[open] {
    display: flex;
}
.geweb-aisearch-modal-window input[type="text"],
.geweb-aisearch-modal-window textarea {
    width: 100%;
    font-family: sans-serif !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
.geweb-aisearch-modal-window input[type="text"]:focus,
.geweb-aisearch-modal-window textarea:focus {
    border: none !important;
    outline: none !important;
}
.geweb-aisearch-modal-window .basic-button[disabled],
.geweb-aisearch-modal-window .btn[disabled] {
    pointer-events: none;
    opacity: 0.4;
}
.geweb-aisearch-modal-window .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 8px;
    column-gap: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 8px;
}
.geweb-aisearch-modal-window .modal-header input[type="text"] {
    height: 40px;
    font-size: 20px !important;
    line-height: 30px !important;
}
.geweb-aisearch-modal-window .modal-header .basic-button.ask-ai {
    height: 40px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 8px;
    column-gap: 8px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-family: sans-serif !important;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 16px;
    cursor: pointer;
}
.geweb-aisearch-modal-window .modal-header .basic-button.ask-ai:before {
    content: "";
    width: 20px;
    min-width: 20px;
    height: 20px;
    background: url(../assets/img/ask-ai-icon-white.svg) center no-repeat;
    background-size: contain;
}
.geweb-aisearch-modal-window .modal-header .close {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: url(../assets/img/close-icon02.svg) center no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
}
.geweb-aisearch-modal-window .modal-header .close:hover {
    border-color: #000;
}
.geweb-aisearch-modal-window .modal-header .ai-assistant-title {
    display: flex;
    align-items: center;
    -moz-column-gap: 4px;
    column-gap: 4px;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}
.geweb-aisearch-modal-window .modal-header .ai-assistant-title:before {
    content: "";
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: url(../assets/img/ask-ai-icon-black.svg) center no-repeat;
    background-size: contain;
}
.geweb-aisearch-modal-window .results-box small {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    background-color: rgba(0,0,0,.05);
    border-radius: 4px;
    padding: 2px 8px;
    margin: 0 0 20px;
}
.geweb-aisearch-modal-window .results-box ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 25px;
    margin: -12px 0 0;
}
.geweb-aisearch-modal-window .results-box ul li {
    border-bottom: 1px dashed rgba(47, 40, 39, 0.3);
}
.geweb-aisearch-modal-window .results-box ul a {
    display: block;
    text-decoration: none;
    padding: 12px 4px;
}
.geweb-aisearch-modal-window .results-box ul a:hover {
    text-decoration: underline;
}
.geweb-aisearch-modal-window .answer-box {
    height: 100%;
    overflow-y: auto;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 16px;

	/*
	*	my
	*/
	display: flex;
	flex-direction: column;
	gap: 12px;
	/*
	*	==========
	*/
}

/*
*	my
*/
#geweb-ai-modal{
	height: 90%;
}
.user-message,
.ai-message {
	max-width: 70%;
	padding: 10px 14px;
	border-radius: 12px;
	margin: 0;
	border: 1px solid #000;
	color: #000;
}
.user-message {
	align-self: flex-end;
	border-bottom-right-radius: 0;
}
.ai-message {
	align-self: flex-start;
	background-color: rgba(0,0,0,.06);
	border-bottom-left-radius: 0;
}
/*
*	==========
*/

.geweb-aisearch-modal-window .answer-box p:last-of-type {
    margin: 0;
}
.geweb-aisearch-modal-window .question-box {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 16px;
}
.geweb-aisearch-modal-window .question-box textarea {
	border: 1px solid rgba(0, 0, 0, 0.4);
    min-height: 56px !important;
}
.geweb-aisearch-modal-window .question-box .btn {
    width: 40px;
    height: 40px;
    background: #000 url(../assets/img/arrow-up-icon.svg) center no-repeat;
    border: none;
    border-radius: 8px;
    padding: 0;
    margin: 0 0 0 auto;
    cursor: pointer;
}
.geweb-aisearch-modal-window .question-box .btn:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1344px) {
    .search-box .basic-button.search {
        width: 110px;
    }
}
@media only screen and (max-width: 1023px) {
    .geweb-aisearch-modal-window {
        max-width: calc(100% - 32px);
    }
}
@media only screen and (max-width: 767px) {
    .header-hold {
        flex-wrap: wrap;
        row-gap: 10px;
        padding: 10px 0;
    }
    .basic-logo {
        order: 1;
    }
    .burger-btn {
        order: 2;
    }
    .search-box {
        order: 3;
        width: 100%;
    }
    .search-box .basic-button.search {
        width: 100%;
    }
    .geweb-aisearch-modal-window {
        max-width: 100%;
        min-height: 100%;
        border: none;
        border-radius: 0;
        padding: 16px;
    }
}
